@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

body {
  font-family: 'Karla', Tahoma, Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: #373f49;
  max-width: 768px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

a {
  color: currentColor;
}  

ul {
  list-style-type: none;
}


h1, 
h2,
h3 {
  margin: 0;
  padding-top: .5em;
  padding-bottom: .75em;
  line-height: 1.1;
  letter-spacing: .01em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1.5;
}

small {
  display: block;
  margin-bottom: 2em;
  font-size: .75rem;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}
